<link rel="stylesheet" type="text/css" href="__PUBLIC__/backcss/subject.css" />
<div id="subject_editDiv">
	<form id="subjectEditForm" enctype="multipart/form-data"  method="post">
		<div>
			<span class="label">题目id:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_subjectId_edit" name="subject_subjectId" value="{$subjectId}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">题目标题:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_title_edit" name="subject_title" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">A:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_a_option_edit" name="subject_a_option" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">B:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_b_option_edit" name="subject_b_option" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">C:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_c_option_edit" name="subject_c_option" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">D:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_d_option_edit" name="subject_d_option" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">正确答案:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_rightOption_edit" name="subject_rightOption" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">得分:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="subject_score_edit" name="subject_score" style="width:80px" />

			</span>

		</div>
		<div class="operation">
			<a id="subjectModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script>
	var publicURL = "__PUBLIC__/";
	var backURL = "__PUBLIC__/index.php/back/";
</script>
<script src="__PUBLIC__/backjs/subject/subject_modify.js"></script>

